window {
    font-family: CaskaydiaCove Nerd Font, monospace;
    font-size: 18pt;
    background-color: rgba(17, 17, 27, .88);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(17, 17, 27, 0.0);
    color: #ad8ee6;
    margin: 20px;
    margin-top: 175px;
    margin-bottom: 175px;
    /* transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out; */
}

button:focus {

    background-color: rgba(17, 17, 27, 0.0);
    background-size: 50%;
}

button:active {
    background-color: rgba(17, 17, 27, 0.0);
    background-size: 25%;
}

button:hover {
    background-color: rgba(17, 17, 27, 0.0);
    background-size: 50%;
}

#lock {
    background-image: image(url("/home/toni/.config/wlogout/icons/lock.png"));
    /* background-size: 70%; */
}
/* #lock:focus {
    background-image: image(url("/home/toni/.config/wlogout/icons/lock-hover.png"));
} */

#logout {
    background-image: image(url("/home/toni/.config/wlogout/icons/logout.png"));
}
/* #logout:focus {
    background-image: image(url("/home/toni/.config/wlogout/icons/logout-hover.png"));
} */

#suspend {
    background-image: image(url("/home/toni/.config/wlogout/icons/sleep.png"));
} 
/* #suspend:focus {
    background-image: image(url("/home/toni/.config/wlogout/icons/sleep-hover.png"));
} */

#shutdown {
    background-image: image(url("/home/toni/.config/wlogout/icons/power.png"));
}
/* #shutdown:focus {
    background-image: image(url("/home/toni/.config/wlogout/icons/power-hover.png"));
} */

#reboot {
    background-image: image(url("/home/toni/.config/wlogout/icons/restart.png"));
}
/* #reboot:focus {
    background-image: image(url("/home/toni/.config/wlogout/icons/restart-hover.png"));
} */