@import "css/colors.css";
@import "css/gradients.css";

* {
    border: none;
    border-radius: 0;
    font-family: 'CaskaydiaCove Nerd Font', monospace;
    font-size: 16px;
    min-height: 0;
}

#waybar {
    background: transparent;
}

tooltip {
    background: @surface0;
    border: 1.5px solid @tokio_night_white;
    border-radius: 5px;
}

tooltip label {
    color: #f5e0dc;
}
/* TODO: Round corners still have a background :( */

/* Left modules */
#custom-launcher,
#workspaces,
#cpu,
#memory,
#temperature,
#disk,
#custom-system-updates,
#custom-temp,

/* Center modules */
#custom-spotify-metadata,
#window,  /* Currently the background is shown, when empty! */

/* Right modules */
#network,
#custom-wallpaper,
#tray,
#pulseaudio,
#clock,
#battery,
#custom-power,

div * {
    background-color: @surface0;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
}


/* Left modules - definition */
#custom-launcher {
    /* background-color: @surface1; */
    border: solid 2px;
    border-color: @tokio_night_white;
    color: @tokio_night_red;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
}

#workspaces {
    border: solid 3px;
    border-color: @tokio_night_black;
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces * {
    font-size: 0px;
}

#workspaces button {
    color: @tokio_night_cyan;
    background-color: @surface3;
    border-radius: 100%;
    min-height: 14px;
    min-width: 14px;
    margin: 5px 8px;
    padding: 0px;
    transition: all 0.01s cubic-bezier(0, 0, 0, 0);  /* Needed to remove short blink of inactive becoming workspace.*/
}

#workspaces button.active {
    animation: gradient_f 10s ease-in-out infinite;
    background: radial-gradient(circle,
        @tokio_night_white 0%,
        @tokio_night_blue 50%,
        @tokio_night_magenta 100%
    );
    background-size: 400% 400%;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background-color: @tokio_night_red;
}

#cpu {
    border: solid 3px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: @tokio_night_cyan;
    margin-right: 0px;
    padding-right: 5px;
}

#custom-temp {
    border: solid 3px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-radius: 0px;
    color: @tokio_night_cyan;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#custom-temp.load {
    color: @tokio_night_yellow;
}

#custom-temp.critical {
    color: @tokio_night_red;
}

#memory {
    border: solid 3px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-radius: 0px;
    color: @tokio_night_green;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#disk {
    border: solid 3px;
    border-left: 0px;
    border-color: @tokio_night_black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: @tokio_night_white;

    padding-left: 5px;
    padding-right: 1rem;
}

#custom-system-updates {
    /* background-color: @surface1; */
    border: solid 2px;
    border-color: @tokio_night_white;
    color: @tokio_night_red;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 10px;
    margin-right: 0px;
}

#custom-system-updates.none {
    color: @tokio_night_green;
}

/* Center modules - definition */
/* #window {
    color: @tokio_night_green;
    padding-left: 15px;
    padding-right: 15px;
} */
/* Currently the background is shown, when empty! */

#custom-spotify-metadata {
    border: solid 2px;
    border-color: @tokio_night_white;
    color: @tokio_night_green;
    padding-left: 15px;
    padding-right: 15px;
    /* background: rgb(148, 226, 213); */
    /* background: linear-gradient(52deg, rgba(148, 226, 213, 1) 0%, rgba(137, 220, 235, 1) 19%, rgba(116, 199, 236, 1) 43%, rgba(137, 180, 250, 1) 56%, rgba(180, 190, 254, 1) 80%, rgba(186, 187, 241, 1) 100%); */
    /* background-size: 300% 300%; */
    /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377); */
    /* animation: gradient 15s ease infinite; */
    /* font-weight: bold; */
    /* color: #fff; */
}

/* Right modules - definition */
#network {
    border: solid 3px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: @tokio_night_green;
    margin-right: 0px;
    padding-right: 0px;
    /* min-width: 100px; */
}

#tray {
    /* background-color: @surface1; */
    border: solid 3px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color:@tokio_night_black;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 12.5px;
    padding-right: 0px;
}

#custom-wallpaper {
    border: solid 3px;
    border-color: @tokio_night_black;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: @tokio_night_yellow;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 12.5px;
}

#pulseaudio {
    border: solid 2px;
    border-right: 0px;
    border-color: @tokio_night_white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: @tokio_night_blue;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 15px;
}

#clock {
    border: solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_white;
    border-radius: 0;
    color: @tokio_night_white;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: -5px;
}

#battery {
    border: solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_white;
    border-radius: 0;
    color: @tokio_night_white;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 0px;
}

#battery.warning {
    color: @tokio_night_yellow;
}

#battery.critical {
    color: @tokio_night_red;
}


#custom-power {
    border: solid 2px;
    border-left: 0px;
    border-color: @tokio_night_white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: @tokio_night_red;
    margin-right: 0px;
    padding-right: 15px;
}
