@import "css/colors.css";
@import "css/gradients.css";

* {
    border: none;
    border-radius: 0;
    font-family: 'CaskaydiaCove Nerd Font', monospace;
    font-size: 16px;
    min-height: 0;
}

#waybar {
    background: transparent;
}

tooltip {
    background: @surface0;
    border: 1.5px solid @tokio_night_white;
    border-radius: 5px;
}

tooltip label {
    color: #f5e0dc;
}
/* TODO: Round corners still have a background :( */

/* Left modules */
#custom-launcher,
#workspaces,
#cpu,
#memory,
#temperature,
#disk,
#custom-system-updates,
#custom-temp,

/* Center modules */
#custom-spotify-metadata,
#window,  /* Currently the background is shown, when empty! */

/* Right modules */
#network,
#pulseaudio,
#custom-speaker,
#clock,
#tray,
#custom-gamemode,
#custom-wallpaper,
#custom-power,

div * {
    background-color: @surface0;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
}


/* Left modules - definition */
#custom-launcher {
    background-color: @surface1;
    border: solid 2px;
    border-color: @tokio_night_white;
    color: @tokio_night_green;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
}

#workspaces {
    border: solid 2px;
    border-color: @tokio_night_black;
    padding-left: 5px;
    padding-right: 5px;
    
}

#workspaces * {
    font-size: 0px;
}

#workspaces button {
    color: @tokio_night_cyan;
    background-color: @surface3;
    border-radius: 100%;
    min-height: 14px;
    min-width: 14px;
    margin: 5px 8px;
    padding: 0px;
    transition: all 0.01s cubic-bezier(0, 0, 0, 0);  /* Needed to remove short blink of inactive becoming workspace.*/
}

#workspaces button.active {
    animation: gradient_f 10s ease-in-out infinite;
    background: radial-gradient(circle,
        @tokio_night_blue 0%,
        @tokio_night_yellow 50%,
        @tokio_night_magenta 100%
    );
    background-size: 400% 400%;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background-color: @tokio_night_red;
}

#cpu {
    border: solid 2px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: @tokio_night_blue;
    margin-right: 0px;
    padding-right: 5px;
}

#custom-temp {
    border: solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-radius: 0px;
    color: @tokio_night_blue;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#custom-temp.load {
    color: @tokio_night_yellow;
}

#custom-temp.critical {
    color: @tokio_night_red;
}

#memory {
    border: solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-radius: 0px;
    color: @tokio_night_blue;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#disk {
    border: solid 2px;
    border-left: 0px;
    border-color: @tokio_night_black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: @tokio_night_yellow;

    padding-left: 5px;
    padding-right: 1rem;
}

#custom-system-updates {
    background-color: @surface1;
    border: solid 2px;
    border-color: @tokio_night_white;
    color: @tokio_night_magenta;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 17px;
    margin-right: 10px;
}


/* Center modules - definition */
/* #window {
    color: @tokio_night_green;
    padding-left: 15px;
    padding-right: 15px;
} */
/* Currently the background is shown, when empty! */

#custom-spotify-metadata {
    border: solid 2px;
    border-color: @tokio_night_white;
    color: @tokio_night_cyan;
    padding-left: 15px;
    padding-right: 15px;
}


/* Right modules - definition */
#network {
    border: solid 2px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: @tokio_night_blue;
    margin-right: 0px;
    padding-right: 0px;
}

#pulseaudio {
    border: solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-radius: 0;
    color: @tokio_night_magenta;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

#custom-speaker {
    border: solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-radius: 0;
    color: @tokio_night_magenta;
    font-size: 18px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 15px;
}

#clock {
    border: solid 2px;
    border-left: 0px;
    border-color: @tokio_night_black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: @tokio_night_yellow;

    padding-left: 0px;
    padding-right: 0px;
    margin-right: 10px;
}

#tray {
    background-color: @surface1;
    border: solid 2px;
    border-color:@tokio_night_white;
    margin-right: 10px;
}

/* https://github.com/Alexays/Waybar/wiki/Module:-Tray */
/* Did get it working yet. */
/* #tray.menu {
    color: @tokio_night_white;
    background: transparent;
}
#tray.passive {

}
#tray.active {
    color: @tokio_night_white;
}
#tray.needs-attention {
    color: @tokio_night_white;
} */

#custom-gamemode {
  color: @tokio_night_white;
  border: solid 2px;
  border-right: 0px;
  border-color: @tokio_night_black;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 20px;
  margin-right: 0px;
  padding-right: 15px;
}

#custom-wallpaper {
    border: solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-radius: 0px;
    color: @tokio_night_yellow;
    font-size: 20px;
    margin-right: 0px;
}

#custom-power {
    border: solid 2px;
    border-left: 0px;
    border-color: @tokio_night_black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: @tokio_night_red;
    font-size: 20px;
    margin-right: 0px;
    padding-right: 15px;
}



/* TODO ----------------------------*/


/* #custom-spotify-metadata.low {
  background: rgb(148, 226, 213);
  background: linear-gradient(52deg, rgba(148, 226, 213, 1) 0%, rgba(137, 220, 235, 1) 19%, rgba(116, 199, 236, 1) 43%, rgba(137, 180, 250, 1) 56%, rgba(180, 190, 254, 1) 80%, rgba(186, 187, 241, 1) 100%);
  background-size: 300% 300%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  animation: gradient 15s ease infinite;
  font-weight: bold;
  color: #fff;
}

#custom-spotify-metadata.random {
  background: rgb(148, 226, 213);
  background: radial-gradient(circle, rgba(148, 226, 213, 1) 0%, rgba(156, 227, 191, 1) 21%, rgba(249, 226, 175, 1) 34%, rgba(158, 227, 186, 1) 35%, rgba(163, 227, 169, 1) 59%, rgba(148, 226, 213, 1) 74%, rgba(164, 227, 167, 1) 74%, rgba(166, 227, 161, 1) 100%);
  background-size: 400% 400%;
  animation: gradient_f 4s ease infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  font-weight: bold;
  color: #fff;
}

#custom-spotify.critical {
  background: rgb(235, 160, 172);
  background: linear-gradient(52deg, rgba(235, 160, 172, 1) 0%, rgba(243, 139, 168, 1) 30%, rgba(231, 130, 132, 1) 48%, rgba(250, 179, 135, 1) 77%, rgba(249, 226, 175, 1) 100%);
  background-size: 300% 300%;
  animation: gradient 15s cubic-bezier(.55, -0.68, .48, 1.68) infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  font-weight: bold;
  color: #fff;
}

#custom-spotify-metadata.Playing {
  background: rgb(137, 180, 250);
  background: radial-gradient(circle, rgba(137, 180, 250, 120) 0%, rgba(142, 179, 250, 120) 6%, rgba(148, 226, 213, 1) 14%, rgba(147, 178, 250, 1) 14%, rgba(155, 176, 249, 1) 18%, rgba(245, 194, 231, 1) 28%, rgba(158, 175, 249, 1) 28%, rgba(181, 170, 248, 1) 58%, rgba(205, 214, 244, 1) 69%, rgba(186, 169, 248, 1) 69%, rgba(195, 167, 247, 1) 72%, rgba(137, 220, 235, 1) 73%, rgba(198, 167, 247, 1) 78%, rgba(203, 166, 247, 1) 100%);
  background-size: 400% 400%;
  animation: gradient_f 9s cubic-bezier(.72, .39, .21, 1) infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  font-weight: bold;
  color: #fff;
}

#custom-spotify-metadata.Paused,
#custom-spotify-metadata.Stopped {
  background: @surface0;
} */
