#network {
    border: solid 3px;
    border-right: 0px;
    border-color: @tokio_night_black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: @tokio_night_green;
    margin-right: 0px;
    padding-right: 0px;
    /* min-width: 120px; */
}

#tray {
    /* background-color: @surface1; */
    border: solid 3px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color:@tokio_night_black;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 12.5px;
    padding-right: 0px;
}

#custom-wallpaper {
    border: solid 3px;
    border-color: @tokio_night_black;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: @tokio_night_yellow;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 12.5px;
}

#pulseaudio {
    border: solid 2px;
    border-right: 0px;
    border-color: @tokio_night_white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: @tokio_night_blue;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 15px;
}

#clock {
    border: solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_white;
    border-radius: 0;
    color: @tokio_night_white;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: -5px;
}

#backlight {
    border: solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_white;
    border-radius: 0;
    color: @tokio_night_white;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

#battery {
    border: solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: @tokio_night_white;
    border-radius: 0;
    color: @tokio_night_white;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 0px;
}

#battery.warning {
    color: @tokio_night_yellow;
}

#battery.critical {
    color: @tokio_night_red;
}

#custom-power {
    border: solid 2px;
    border-left: 0px;
    border-color: @tokio_night_white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: @tokio_night_red;
    margin-right: 0px;
    padding-right: 15px;
}
