@import "css/colors.css";
@import "css/gradients.css";

#waybar {
    background: transparent;
    font-family: 'CaskaydiaCove Nerd Font', monospace;
    font-size: 16px;
}

tooltip {
    background: @surface0;
    border: 1.5px solid @tokio_night_white;
    border-radius: 5px;
}

tooltip label {
    color: #f5e0dc;
}

/* Left modules */
#custom-launcher,
#workspaces,
#cpu,
#memory,
#temperature,
#disk,
#custom-system-updates,
#custom-temp,

/* Center modules */
#window,
#custom-spotify-metadata,

/* Right modules */
#network,
#custom-wallpaper,
#tray,
#pulseaudio,
#clock,
#backlight,
#battery,
#custom-power,

div * {
    background-color: @surface0;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
}

@import "style-left.css";

@import "style-center.css";

@import "style-right.css";

