# Files
thunar.xml
packer_compiled.lua
*tempCodeRunner*
.index.lock

# Extensions


# Folder
.vscode
.hypothesis

shaders


# Specific files
**/peaclock/history
**/backgrounds/.loop
home/.config/btop/btop.log

.Trash-1000
