@import "../colors.scss";

.buttons {
  color: $nuance-one;
  margin-left: 8px;
  margin-right: 0px;
  border-bottom: solid 1px $transparent;
}

.buttons.active {
  color: $foreground;
  // margin-left: 13px;
  // margin-right: 0px;
  // border-bottom: solid 1px $transparent;
}