
$foreground:          #FAF7FE;
$foreground-opace:    rgba(250, 247, 254, 0.3);
$background:          rgba(11, 17, 27, 0.9);
$background-opace:    rgba(11, 17, 27, 0.3);

$main:                #01FCFE;
$main-opace:          rgba(1, 252, 254, 0.3);
$nuance-one:          #FBA852;
$nuance-one-opace:    rgba(251, 168, 82, 0.3);
$nuance-two:          #DB0F0B;
$nuance-two-opace:    rgba(219, 15, 11, 0.3);
$nuance-three:        #FC6933;
$nuance-three-opace:  rgba(252, 105, 51, 0.3);
