@import "../colors.scss";

.confirm-dialog-box {
    background-color: rgba(11, 17, 27, 0.9);
    border: 1px solid $main-opace;
    border-radius: 5px;
    padding: 2px;
    font-size: 1.2rem;
}

.confirm-dialog-prompt {
    border-bottom: 1px dotted $main-opace;
    padding-bottom: 5px;
}

.confirm-dialog-buttons {
    background-color: $transparent;
    padding-top: 5px;
}

.confirm-dialog-box button {
    border-bottom: 1px solid $transparent;
    border-radius: 3px;
}

.confirm-dialog-box button:hover {
    border-bottom: 1px solid $nuance-three;
}

.confirm-dialog-no {
    color: $foreground;
}

.confirm-dialog-yes {
    color: $main;
}
