@import "../colors.scss";

.system-tray {
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 15px;
    border-bottom: solid 2px $transparent;
}

.separator {
    padding-right: 15px;
}

.app.hidden {
    padding: 0px;
}

.app.open {
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: $white;
}

.app.hidden {
    padding-left: 0px;
    padding-right: 0px;
}

.button {
    font-size: 16px;
    padding-top: 2px;
    padding-right: 6px;
    padding-left: 6px;
}

.button.close {
    color: $red;
}

.button.connected {
    color: $green;
}

.button.disconnected {
    color: $blue;
}

.monitor {
    font-size: 18px;
    font-weight: bold;
}

.monitor.framerate {
    font-size: 10px;
    font-weight: bold;
    padding-top: 12px;
}

.monitor.framerate.primary {
    padding-left: 8px;
    color: $green;
}

.monitor.framerate.secondary {
    padding-right: 0px;
    color: $yellow;
}