.network_box {
  margin-right: 20px;
}

.network_down_icon {
  color: $main;
  padding-left: 5px;
  padding-right: 5px;
}

.network_down {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}

.network_separator {
  color: $nuance-three;
}

.network_up {
padding-left: 5px;
padding-right: 5px;
font-size: 16px;
}

.network_up_icon {
color: $main;
padding-left: 5px;
padding-right: 5px;
}