@import "../colors.scss";

.powermenu {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}


.powermenu.button-shutdown {
  color: $nuance-two;
  border-bottom: solid 2px $main-opace;
  border-bottom-left-radius: 2px;
}

.powermenu.button-restart {
  color: $nuance-three;
  border-bottom: solid 2px $main-opace;
}

.powermenu.button-suspend {
  color: $nuance-one;
  border-bottom: solid 2px $main-opace;
}

.powermenu.button-logout {
  color: $foreground;
  border-bottom: solid 2px $main-opace;
}

.powermenu.button-lock {
  color: $main-opace;
  border-bottom: solid 2px $main-opace;
  border-bottom-right-radius: 2px;
}

.powermenu.button-open {
  color: $nuance-two;
  border-bottom: solid 2px $transparent;
}

.powermenu.button-close {
  color: $main;
  border-bottom: solid 2px $transparent;
}


.powermenu button:hover {
  border-bottom: solid 2px $nuance-three;
  border-radius: 3px;
}