@import "../colors.scss";

.system_widget {
  margin-left: 20px;
  margin-bottom: 2px;
}

.system_container {
  border-bottom: solid 2px $nuance-three;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}

.system_label {
  color: $foreground;
  padding-left: 0px;
  padding-right: 10px;
  font-size: 1.4rem;

}

.system_circle {
  background-color: $main-opace;
  border: 2px solid $foreground;
  border-radius: 100%;
  color: $main;
}

.system_circle-label {
  background-color: $background;
  font-size: 0px;
  border-radius: 100%;
  margin: 8px;
}

.system_cpu_temp {
  margin-left: 5px;
  padding-top: 6px;
  font-size: 12px;
  font-weight: bold;
}

.system_cpu_temp_high {
  color: $nuance-three;
  margin-left: 5px;
  padding-top: 6px;
  font-size: 12px;
}
