@import "../colors.scss";

.updates_container {
  margin-left: 15px;
  // border-bottom: solid 2px $blue;
  // border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.updates_number {
  padding-left: 10px;
  padding-top: 6px;
  font-size: 12px;
  font-weight: bold;
}

.updates_number.low {
  color: $green;
}

.updates_number.medium {
  color: $yellow;
}

.updates_number.high {
  color: $red;
}


.updates_icon {
  color: $blue;
  font-size: 1.4rem;
  font-weight: bold;
}

