@import "../colors.scss";

.container {
  font-size: 10px;
  font-weight: bold;
  padding-top: 1px;
}

.container.updates {
  padding-left: 10px;
}

.container.gpu {}

.updates {}

.updates.installed {
  padding-top: 7px;
}

.updates.done {
  padding-top: 7px;
  color: $green;
  font-size: 11px;
}

.updates.pending {
  padding-top: 7px;
  color: $yellow;
}

.updates.pending.high {
  padding-top: 7px;
  color: $red;
}

.updates.icon {
  padding-top: 0px;
  font-size: 18px;
  color: $blue;
}

.gpu {}

.gpu.icon {
  font-size: 18px;
  color: $blue;
}

.gpu.version {
  color: $yellow;
  font-weight: bold;
  font-size: 10px;
  padding-top: 7px;
  margin-left: -3px;
}