@import "../colors.scss";

.volume-box {
    margin-left: 10px;
    margin-right:10px;
    // border-bottom: solid 2px $main-opace;
}

.device-box {
    margin-left: 2px;
    margin-right:2px;
}

.value-show {
    color: $foreground;
    font-size: 16px;
    font-weight: bold;
}

.value-hide {
    color: $foreground;
    font-size: 1px;
    font-weight: bold;
}

.device-available {
    color: $main;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.device-unavailable {
    color: $main-opace;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 10px;
}