@import "../colors.scss";

.wallpaper {
  border-bottom: solid 2px $transparent;
}

.wallpaper.icon {
  color: $nuance-one;
  margin-right: 20px;
  margin-left: 10px;
}

.wallpaper.label {
  font-size: 1.25rem;
  padding-left: 5px;
  padding-right: 5px;

}

.wallpaper.separator {
  padding-left: 5px;
  padding-right: 5px;
  color: $nuance-three;
}

.wallpaper button {
  padding-left: 5px;
  padding-right: 10px;
  color: $main;
  border-bottom: solid 2px $background-opace;
}

.wallpaper button:hover {
  border-radius: 3px;
  border-bottom: solid 2px $nuance-one;
}

.wallpaper.engine {
  color: $foreground;
  font-size: 1.4rem;
  padding-left:10px;
  padding-right: 17px;
}