* {
    background-image: none;
    font-family: CaskaydiaCove Nerd Font;
    font-size: 20px;
}

window {
    background-color: #1a1b26;
}

button {
    background-color: #32344a;
    border-style: solid;
    border-width: 4px;
    border-radius: 16px;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 30px;
    background-size: 25%;
}

button:focus,
button:active {
    border-color: #e0af68;
}
button:hover {
    border-color: #f7768e;
}

#lock {
    background-image: image(
        url("/usr/share/wlogout/icons/lock.png"),
        url("/usr/local/share/wlogout/icons/lock.png")
    );
    color: #ad8ee6;
}

#suspend {
    background-image: image(
        url("/usr/share/wlogout/icons/suspend.png"),
        url("/usr/local/share/wlogout/icons/suspend.png")
    );
    color: #ad8ee6;
}

#shutdown {
    background-image: image(
        url("/usr/share/wlogout/icons/shutdown.png"),
        url("/usr/local/share/wlogout/icons/shutdown.png")
    );
    color: #ad8ee6;
}

#reboot {
    background-image: image(
        url("/usr/share/wlogout/icons/reboot.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
    color: #ad8ee6;
}

#logout {
    background-image: image(
        url("/usr/share/wlogout/icons/logout.png"),
        url("/usr/local/share/wlogout/icons/logout.png")
    );
    color: #ad8ee6;
}

#hibernate {
    background-image: image(
        url("/usr/share/wlogout/icons/hibernate.png"),
        url("/usr/local/share/wlogout/icons/hibernate.png")
    );
    color: #ad8ee6;
}
