@import "../colors.scss";

.notify-send {
  border: solid 1px $blue;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1.0);
  background-color: transparent;
  background-color: $blue-opace;
  min-width: 200px;
  margin: 5px;
}

.header {
  color: $yellow;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0px;
}

.body {
  font-size: 14px;
  padding-left: 20px;
}

